@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or any other stylesheet */

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slider {
    animation: slide-in 2s ease-in-out;
}

.name{
    text-shadow: 0 0 3px #E93B81, 0 0 5px #E93B81;
}